@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');


body {
    font-family: 'Mandali', sans-serif;
    margin: 0;
}


h1 {
    font-family: 'Mandali', sans-serif;
    font-size: 5rem;
    margin: 0;
    text-shadow: -5px 5px 1px yellowgreen;
}

header {
    padding: 0 2rem 3rem 2rem;
    margin: 0 0 2rem 0;
    background-color: rgb(36, 36, 36);
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    & > h1 {
        position: relative;
        &::before {
            position: absolute;
            bottom: 1rem;
            left: 0;
            width: 100%;
            content: "";
            background-color: yellowgreen;
            height: 3px;
        }
    }
    & > p {
        font-size: 1.3rem;
        max-width: 60rem;
        margin: 0;
    }
    & a {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: yellowgreen;
        align-self: flex-end;
        margin: -1rem 0 0 0;
        position: relative;
        text-decoration: none;
        & span {
            margin-left: 1rem;
            text-decoration: overline;
        }
        & #cartCount {
            margin: 0 0.5rem 0 0;
            background-color: 000;
            height: 2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            font-size: 1rem;
            border: 3px solid yellowgreen;
            font-weight: 600;
        }
    }
    
}

main {
    margin: 2rem;
    min-height: 55vh;
}

footer {
    background-color: rgb(27, 27, 27);
    padding: 2rem;
    margin-top: 3rem;
    color: white;
}

.store {
    display: grid;
    flex-wrap: wrap;
    border-radius: 0.5rem;
}

@media screen and (min-width: 1201px) {
    .store {
        grid-template-columns: 1fr 1fr;
    }
    main {
        width: 60%;
        margin: auto;
    }
}

@media screen and (max-width: 1200px) {
    .store {
        grid-template-columns: 1fr;
    }
    main {
        width: 80%;
        margin: auto;
    }
    
}

@media screen and (max-width: 750px) {
    .store {
        grid-template-columns: 1fr;
    }
}

.item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.4);
    &__name {
        margin: -1rem 0 2rem 0;
        text-shadow: -1px 1px yellowgreen;
        position: relative;
        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            content: "";
            background-color: yellowgreen;
            height: 3px;
        }
    }
    &:hover {
        transform: scale(1.015);
    }
    &__img {
        height: 10rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }
    &__price {
        font-size: 1.5rem;
        font-weight: 600;
    }
    &__description {
        font-size: 1.3rem;
        position: relative;
        &::before {
            position: absolute;
            bottom: -0.8rem;
            left: 0;
            width: 100%;
            content: "";
            background-color: yellowgreen;
            height: 2px;
        }
    }
    &__display {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
        padding: 2rem;
        margin: 2rem;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
        position: relative;
        &__prevBtn {
            align-self: flex-end;
            font-size: 2rem;
            color: black;
            right: 2rem;
            z-index: 1;
        }
        &__name {
            font-size: 3rem;
            position: relative;
            margin: -3.77rem 0 3rem 0;
            text-shadow: -1px 1px 2px yellowgreen;
            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                content: "";
                background-color: yellowgreen;
                height: 3px;
            }
        }
        &__img {
            height: 20rem;
            width: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }
        &__price {
            font-size: 1.5rem;
            font-weight: 600;
            margin: 0;
        }
        &__description {
            font-size: 1.2rem;
            position: relative;
            &::before {
                position: absolute;
                bottom: -0.8rem;
                left: 0;
                width: 100%;
                content: "";
                background-color: yellowgreen;
                height: 2px;
            }
        }


        &__wrapBtn {
            display: flex;
            align-items: center;
            &__selectVarnish {
                margin: 1rem 0 1rem 0;
                height: 3rem;
                width: 20rem;
                font-size: 1.5rem;
                font-size: 1.5rem;
                font-weight: 500;
                text-align: center;
                border-radius: 0.5rem;
                padding: 0 1rem 0 1rem;
                background-color: lighten(yellowgreen, 35%);
                border: none;

            }
            &__addToCart {
                margin: 1rem 0rem 1rem 1rem;
                height: 3rem;
                flex-grow: 1;
                background-color: lighten(yellowgreen, 15%);
                border-radius: 0.5rem;
                font-size: 1.5rem;
                font-weight: 600;
                border: none;
                &:hover {
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
                }
            }
            &__amount {
                margin: 0 1rem -1.6rem 1rem;
                background: yellowgreen;
                position: relative;
                &::before {
                    content: "How many ?";
                    position: absolute;
                    top: -1.6rem;
                    font-size: 1.3rem;
                }
            }
            &__amountDisplay {
                height: 2rem;
                width: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: yellowgreen;
                border: 2px solid black;
                border-radius: 100%;
                font-weight: 600;                
            }
        }
    }
}

#popupWrap {
    position: fixed;
    padding: 1rem;
    bottom: 1rem; 
    right: 1rem;

}

.popup {
    padding: 1rem;
    top: 1rem;
    margin: 1rem 0 1rem 0;
    background-color: yellowgreen;
    border-radius: 0.5rem;
    font-weight: 600;
    border: 4px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

ul {
    padding: 0;
    & .listeditemName {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.cart__header, .orderprice {
    font-size: 1.3rem;

}
.cart {
    font-size: 1.2rem;
    & .listedItem {
        margin: 1rem 0 1rem 0;
        width: 100%;
        display: flex;
        &name {
            width: 30%;
        }
        &amountSelector {
            width: 10%;
        }
        &Unitprice {
            width: 20%;
            margin-left: 2rem;

        }
        &TotalPrice {
            width: 20%;
        }
        &deleteBtn {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
    &__header {
        width: 100%;
        display: flex;
        font-weight: 600;
        &__name {
            width: 30%;
        }
        &__amount {
            width: 10%;
        }
        &__unitprice {
            width: 20%;
            margin-left: 2rem;

        }
        &__totalPrice {
            width: 20%;
        }
    }
}

.orderPrice {
    font-weight: 600;
    min-width: 100%;
    position: relative;
    &::before {
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 100%;
        content: "";
        background-color: yellowgreen;
        height: 3px;
    }
}

form {
display: flex;
flex-direction: column;
margin-top: 3rem;
    & label {
        font-size: 1.2rem;
        font-weight: 600;
        position: relative;
    }
    & .order {
        margin-top: 1rem;
        border-radius: 0.5rem;
        padding: 1rem;
        background-color: yellowgreen;
        font-weight: 600;
        font-size: 1.5rem;
        border : none;
        &:hover {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        }
        &:active {
            background-color: lighten(yellowgreen, 15%);
        }
    }
    & input {
        font-size: 1.1rem;
        padding: 0.3rem;
        margin-bottom: 1rem;
    }
}

.ty {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    &__tableOfItems {
        display: flex;
        flex-direction: column;
    }
    &__totalprice {
        font-weight: 600;
    }
}